<!-- =============================================== -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Consultar <b>CLIENTES</b>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-bookmark"></i> Home</a></li>
      <li><a href="#"> Clientes</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Tabela de Clientes</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <table id="clientTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Telefone</th>
                  <th>Bairro</th>
                  <th>Rua</th>
                  <th>Bloco</th>
                </tr>
              </thead>
              <tbody>
                {loop="$clientList"}
                <tr>
                  <td>{$value.cd_cliente}</td>
                  <td>{$value.nm_cliente}</td>
                  <td>{$value.nr_celular}</td>
                  <td>{$value.nm_bairro}</td>
                  <td>{$value.nm_logradouro}, {$value.nr_casa}</td>
                  <td>{$value.nm_bloco}</td>
                </tr>
                {/loop}
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Telefone</th>
                  <th>Bairro</th>
                  <th>Rua</th>
                  <th>Bloco</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->


        </div>
        <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<script src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $.noConflict();
    $('#clientTable').DataTable({
      "language": {
        "url": "/plugins/dataTables/dataTables.portuguese.lang.json"
      }
    });
  });
</script>