<!-- =============================================== -->
<style>

    .spacing{

    float: right;

}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Confirmar <b>Pedido</b>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-bookmark"></i> Home</a></li>
            <li><a href="#"> Pedidos</a></li>
            <li><a href="#"> Confirmar pedido</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="callout callout-success">
                                <h4>Pedidos</h4>
                                <ol>
                                    <li>Entrega<b class="spacing">R${function="formatPrice($user.vl_frete)"}</b></li>
                                    <hr style="border-top:dotted;">
                                    {loop="$orders"}
                                    <li>{$value.tamanho}<b class="spacing">R${function="formatPrice($value.valor)"}</b></li>
                                    <hr style="border-top:dotted;">
                                    {/loop}
                                </ol>
                            </div>
                        </div>
                        <form action="/order/confirm" method="post">
                            <div class="col-md-6">
                                <h1 class="total">Total: R${function="formatPrice($total)"}</h1>
                                <form action="" method="post" class="total">
                                    <label for="paymentMethod"> Método de Pagamento:</label>
                                    <select class="form-control" id="paymentMethod" name="paymentMethod" required oninput="this.setCustomValidity('')">
                                        <option value="" disabled selected>Selecione o método de pagamento</option>
                                        <option value="Dinheiro">Dinheiro</option>
                                        <option value="Crédito">Crédito</option>
                                        <option value="Débito">Débito</option>
                                    </select>
                                    <label for="clientValue"> Valor pago:</label>
                                    <input class="form-control" type="text" name="clientValue" id="clientValue" required>
                                </form>
                                <h2>Troco:</h2>
                                <input type="hidden" name="changeValue" value="" id="changeValue">
                                <h1 id="change">R$</h1>
                                <button type="submit" class="btn btn-success btn-lg pull-right">Finalizar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<!-- jQuery input mask -->
<script src="/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

<script src="/dist/js/paymentMethod.js"></script>

<script>
    $(document).ready(function () {

        $('#clientValue').mask("#.###,00", {
            reverse: true
        })

        $('#clientValue').focus()

        $('#clientValue').keyup(function () {

            let dados = $('#clientValue').val();

            $('#change').empty()

            $.ajax({
                type: 'POST',
                url: '../dist/functions/getChange.php',
                async: true,
                data: {
                    clientValue: dados.replace('.', '').replace(',', '.')
                },
                success: function (response) {
                    $('input[name=changeValue]').val(response)
                    $('#change').append(response)
                    console.log($('#changeValue').val())
                }
            });

        })

    })


</script>